*{
	font-family: "Rubik", sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.brand-logo img{
	width: 100px !important;
}
.result-1{
	color: #2449f0;
	font-weight: bold;
}

.result-2{
	font-size: 12px;
	color: #aaa;
}

.card-noborder{
	border: 0px;
}

.b-radius{
	border-radius: 10px;
}

.icon-in-search{
	color: #2449f0;
	font-size: 18px;
}

.search-description{
	background-color: #eeee;
	border-radius: 5px;
	padding: 10px;
}

.page-result-child{
	color: #2f2f2f;
}

.page-result-child:hover{
	text-decoration: none;
}

.page-result-child:hover p .breadcrumbs-search{
	color: #fff;
}

.page-result-child:hover h5{
	color: #fff;
}

.page-result-child:hover .card{
	background-color: #2449f0;
}

.page-result-child:hover .icon-in-search{
	color: #2196f3;
}

.page-result-child:hover .search-description{
	background-color: #2196f3;
}

.page-result-child:hover .search-description p{
	color: #fff;
}

.close-btn{
	background-color: #d7d7d7 !important;
	border-radius: 5px;
	margin-top: 0px !important;
	margin-right: 0px !important;
	padding: 0.2rem 0.7rem !important;
}

.icon-notification{
	background-color: #f9f9f9;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	line-height: 40px;
	width: 60px;
	min-width: 60px;
	height: 60px;
	padding: 10px;
}

.title-notification{
	font-size: 18px;
}